body {
    padding: 50px;
}
table {
    width: 50%; /*khoảng cách giửa các cột, chiều rộng của bảng*/
    border-collapse: collapse; /* làm đường viền liền nhau, 1 đường thẳng*/
}
td, th {
    padding: 20px; /* khoảng cách của các dòng trong bảng*/
    border: 1px solid rgb(7, 4, 4);/* màu của đường viền*/
}
th{
    font-family: 'Patua One', cursive;/* thay đổi phong chử cho thẻ th*/
    font-size:16px;/*chỉnh cở chử trong thẻ th*/
    font-weight:400;
    color:#fff;/*chỉnh chử thành màu trắng*/
    text-align:center;/*Chỉnh chữ ra giữa*/
    padding:20px;
    background-color: #d61b06;/*tô cho cả tiêu đề màu đỏ */
    border-color: white;/*cho đường viền màu trắng*/
}
td{
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    color:#5f6062;
    font-size:13px;
    padding:20px 20px 20px 20px;
    border-bottom:1px solid #e0e0e0;/*khoảng cách giửa 2 dòng với nhau*/
    text-align: center;
}

.hover {
    background:red;
}